/* СВЕТЛАЯ ТЕМА */

:root .theme_light {
  --main-title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --title-color: #353430;
  --subtitle-color: #353430;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --hover-button-color: rgb(50 49 45 / 0.4);
  --corner-color: #353430;
  --record-sign-visibility: hidden;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
}

/* НАСТРОЙКИ ПОЛЬЗОВАТЕЛЯ: светлая тема */
@media (prefers-color-scheme: light) {
  :root {
    --main-title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --title-color: #353430;
    --subtitle-color: #353430;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --hover-button-color: rgb(50 49 45 / 0.4);
    --corner-color: #353430;
    --record-sign-visibility: hidden;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);   
  }
}
