/* ОСНОВНЫЕ СТИЛИ ПРОЕКТА */

/* Темная тема + Mobile first */

/* 375px */

.page {
  color: var(--main-text-color, #f1b2ce);
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  background-color: var(--background-color, #000028);
  background-image: var(--background-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* МИКСЫ: начало */
/* Уголки */
.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--corner-color, #ff0070);
  border-inline-end: 1px solid var(--corner-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--corner-color, #ff0070);
  border-inline-start: 1px solid var(--corner-color, #ff0070);
}

/* Текст с фоном */
.text-decor {
  color: var(--text-decor-color, #000028);
  background-color: var(--accent-color, #ff0070);
}
/* МИКСЫ: конец */

/* ШАПКА САЙТА: начало */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

/* Значок Rec */
.header__record-sign {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  display: flex;
  gap: 10px;
  align-items: center;
  visibility: var(--record-sign-visibility, visible);
}

.header__record-sign::before {
  content: "REC";
  color: #ff0070;
  line-height: 1.4;
}

.header__record-sign::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: #ff0070;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #ff0070;
}

/* Переключатель тем: начало */
.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0;
  inline-size: 70px;
  block-size: 26px;
  color: var(--button-color, #ff0070);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color, #ff007066);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button:disabled {
  border: 1px solid currentColor;
  pointer-events: none;
}
/* Переключатель тем: конец */

/* Заголовок */
.header__title {
  color: var(--main-title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* 116px (min-width: 375px) -> 120px (min-width: 768px) */
  font-weight: bold;
  line-height: 0.83;
}

/* Текст */
.header__description {
  align-self: center;
  inline-size: clamp(355px, 50%, 491px);
  font-weight: bold;
  line-height: 1.3;
}
/* ШАПКА САЙТА: конец */

/* ОСНОВНОЙ КОНТЕНТ: начало */
.content {
  display: grid;
  gap: 50px;
  margin: 40px 0;
  padding: 0 10px;
}

.text-section {
  display: grid;
  gap: 20px;
}

.text-section__title {
  color: var(--title-color, #ff0070);
  font-size: 18px;
  line-height: 1.3;
}

.text-section__container {
  display: grid;
  gap: 20px;
}

.text-section__subtitle {
  font-size: 18px;
  line-height: 1.3;
}

.text-section__list {
  display: grid;
  gap: 20px;
}

.text-block {
  display: grid;
  gap: 10px;
}

.text-block__title {
  font-size: 18px;
  line-height: 1.3;
}

.text-section__container .text-block__title {
  font-weight: normal;
}

.text-block__paragraph {
  line-height: 1.3;
}

.text-block__link {
  text-shadow: 2px 1px 0 var(--accent-color, #ff0070);
  cursor: pointer;
}

.text-block__link:hover {
  border-block-end: 1px solid currentColor;
}

.text-block__link:focus {
  outline: none;
}

.text-block__link:focus-visible {
  border: 1px solid currentColor;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  font-size: 18px;
  line-height: 1.3;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__list-item {
  display: flex;
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover;
}
/* ОСНОВНОЙ КОНТЕНТ: конец */

/* БРЕЙКПОИНТЫ: начало */
/* 768px */
@media screen and (min-width: 768px) {
  /* МИКСЫ: начало */
  /* Уголки */
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
  /* МИКСЫ: конец */

  /* ШАПКА САЙТА: начало */
  .header {
    padding: 20px;
  }

  /* Значок Rec */
  .header__record-sign {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* 120px (min-width: 768px) -> 157px (min-width: 1024px) */
  }

  .header__description {
    justify-self: end;
  }
  /* ШАПКА САЙТА: конец */

  /* ОСНОВНОЙ КОНТЕНТ: начало */
  .content {
    gap: 80px;
    margin: 60px 0;
    padding: 0 20px;
  }

  .text-section {
    grid-template-columns: 1fr 2fr;
  }

  .text-section:nth-of-type(even) .text-section__list {
    grid-column: 1 / -1;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }

  .gallery__list-item:nth-of-type(1),
  .gallery__list-item:nth-of-type(5) {
    grid-column: span 2;
  }

  .gallery__list-item:nth-of-type(2),
  .gallery__list-item:nth-of-type(3) {
    grid-row: span 2;
  }
  /* ОСНОВНОЙ КОНТЕНТ: конец */
}

/* 1024px */
@media screen and (min-width: 1024px) {
  /* ШАПКА САЙТА */
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  /* ОСНОВНОЙ КОНТЕНТ */
  .text-section:nth-of-type(even) .text-section__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* БРЕЙКПОИНТЫ: конец */
