:root {
  --button-color: #ff0070;
  --hover-button-color: #ff007066;
  --record-sign-visibility: visible;
  --corner-color: #ff0070;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --text-decor-color: #000028;
  --main-text-color: #f1b2ce;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}
